@font-face {
  font-family: "CooperHewitt";
  src: url("/assets/font/CooperHewitt-Book.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("/assets/font/CooperHewitt-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "CooperHewitt";
  src: url("/assets/font/CooperHewitt-Bold.woff") format("woff");
  font-weight: 700;
}

/*============== LES BASES ==============*/

body, html {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "CooperHewitt";
  font-weight: 400;
  
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  display: none;
  border-radius: 100%;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e5e5e5;
}

/*============== HEADER ==============*/
.navbar{
  background: #fff;
  
}

.navbar-shadaw {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar .navbar-brand img {
  width: 100%;
  height: 60px;
}

.nav-link {
  color: rgba(0,0,0,.9);
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 14px;
  border-bottom: 1px solid rgba(10,36,88,.25);
  font-weight: 500;
}

.nav-link.active {
  color: #1c4294;
  border-bottom-color: #1c4294;
  border-bottom-width: 2px;
}

.nav-link:hover {
  color: #1c4294;
  border-bottom-color: #1c4294;
  border-bottom-width: 1px;
}

.activeLink {
  color: #1c4294;
  border-bottom-color: #1c4294;
  border-bottom-width: 2px;
}

.link {
  text-decoration: none;
  color: #028CDA;
}

.link:hover {
  text-decoration: underline !important;
  color: #028CDA;
}

.modal-content {
  width: 50%;
  margin: 0 auto;
}

.modal-body {
  padding: 10px;
}

.modal-body form button {
  position: absolute;
  top: 6px;
  right: 11px;
  height: 46px;
  background-color: transparent;
  border: none;
  padding: 10px;
}

.search-box button {
  border: none;
  background-color: transparent;
}

.search-box .modal-body input {
  width: 100%;
  min-height: 48px;
  padding-left: 45px;
  border: 1px solid #d5e3ec;;
}

/*============== HEADER ==============*/
.sidebar-button {
  display: none;
}

.sidebar-button button {
  border: none;
  background-color: transparent;
}


@media (max-width: 992px) { 
  
  .sidebar-button {
    display: block;
    right: 0;
   
  }

  .sidebar-button .nav-link {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .social-media a {
    padding-left: 15px;
  }

  .sidebar-button .offcanvas-header {
    height: 86px;
  }
 }

 .search-btn {
  position: relative;
 }

 .search-btn form button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 5px;
  background-color: #1c4294;
  color: #fff;
  border-radius: 0 2px 0 0;
  padding: 13px;
 }

 .search-btn form input {
  width: 100%;
  /*box-shadow: inset 0 -2px 0 0 var(--bf500);**/
  margin-top: 0;
  border-radius: 0.25rem 0 0;
  max-height: none;
  padding: 0.7rem 1rem;
  background-color: #f0f0f0;
  border-top: none;
  border-left: none;
  border-bottom: 2px solid #1c4294;
  
 }

 .search-btn form input::placeholder {
  font-style: italic;
 }

 .search-btn form input:focus {
  border: none;
 }

/*============== HERO ==============*/

.hero {
  /*align-items: center;*/
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
  url("/assets/img/inga.jpg");
  background-position: center;
  background-size: cover;

} 

.hero_title {
  width: 100%;
}

.hero_title h2{
  font-size: 3.5rem;
}

.hero_image img {
  width: 100%;
  
}

/*============== NEWS-BAR ==============*/

.news-bar {
  position: absolute;
  bottom: -180px;
  background: #fff;
  box-shadow: 0 5px 8px -3px rgba(0,0,0,.15);
  padding: 30px 0px 30px 90px;
  width: 85%;
}

.news-bar_post-title {
  margin: 0;
  font-size: 17px;
  font-weight: normal;
}


@media (max-width: 768px) { 
  .news-bar{
    position: static;
    bottom: 0;
  }
 } 

 @media (max-width: 787px) { 
  .news-bar {
    position: static;
    bottom: 0;
  }
 } 

 @media (max-width: 792px) { 
  .news-bar {
    position: static;
    bottom: 0;
  }
 } 

 @media (max-width: 1314px) { 
  .news-bar {
    padding: 30px 20px 30px 20px;
  }
 }

@media (max-width: 1197px) { 
  .news-bar {
    padding: 30px 20px 30px 0px;
  }
 }

 @media (max-width: 1130px) { 
  .news-bar {
    width: 100%;
  }
 }

 @media (max-width: 991px) { 
  .news-bar {
    width: 70%;
    left: 144px;
    padding: 30px 0px 30px 0px;
    
  }

  .news-bar_entry-post {
    justify-content: space-between;
    margin-bottom: 10px;
  }

 }

 @media (max-width: 810px) { 
  .news-bar {
    position: relative;
    width: 88%;
    left: 0;
    /*left: 50px;
    bottom: -200px;*/
    bottom: 120px;
    margin: 0 auto;
  }

  .other-news {
    padding-top: 0 !important;
  }
}

 @media (max-width: 791px) { 
  .news-bar {
  width: 90%;
   margin: 0 auto;
  }

 } 

 @media (max-width: 767px) { 
  .news-bar {
  width: 70%;
   margin: 0 auto;
  }

 } 

 

 .news-bar_post-date{
  font-size : 10px;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 2.70px;
  font-weight: 600;
}

@media (max-width: 576px) { 
 
  .news-bar_post-content {
    border:none;
  }

  
}

 @media (max-width: 576px) { 
  .hero {
    height: 100%;
  }
  .news-bar {
    position: relative;
    left: 0;
    /*top: 150px;*/
    bottom: 100px;
    width: 95%;
    padding: 30px 0px 30px 0px;
    margin: 0 12px;
    /*margin-top: -85px !important;*/
   
  }
  
  .hero_title h2 {
    font-size: 3rem;
  }
  
 }

.news-bar_post-date p a {
  text-decoration: none;
  color: #028CDA;
  color: 12px;
}

.news-bar_post-date p a:hover {
  text-decoration: underline;
}

.news-bar__post-image img {
  border-radius: 3px;
  
}

/*============== OTHER-NEWS ==============*/

.other-news {
  padding-top: 120px;
  
}

.other-news_headlinee {
  
  font-weight: 700;
  
}

.other-news h2::after {
  content: '';
  display: block;
  bottom: 0;
  width: 70px;
  height: 5px;
  background-color: #028CDA;
  position: relative;
  top: 8px;
}

.other-news h2 {
  text-transform: uppercase;
}

.other-news h3 a {
  text-decoration: none;
  color: #028CDA;
}

.other-news h3 a:hover {
  text-decoration: underline;
}

.other-news .other-news_post-content{
  background-color: #fff;
  padding: 33px 20px;
}

.other-news .other-news_list-post {
  background-color: #fff;
  padding: 20px 14px;
}

.other-news .other-news_headline.other-news_post-title {
  font-weight: 500;
}

.other-news p a{
  text-decoration: none;
  color:#028CDA;
}

.other-news p a:hover {
  text-decoration: underline;
}

.other-news span {
  font-size: 10px;
}

.other-news_item h3 {
  font-size: 17px;
  font-weight: normal;
}

/*============== ABOUT ADMINISTRAION ==============*/

.about-admin_content {
  background-color: #fff;
  padding: 20px;
}


@media only screen and (max-width: 810px) {
 .about-sg .row.secretary {
    flex-direction: column-reverse;
  } 

  .other-news_list-post{
    padding: 10px 20px;
  }
  
}

.about-admin_content img {
  border-radius: 10px;
  
}

.about-admin_items span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.about-admin_items span a {
  color: #028CDA;
  text-decoration: none;
}

.about-admin_items span a:hover {
  text-decoration: underline;
}

.about-admin_items h3 {
  text-transform: uppercase;
}

.about-admin_items ul {
  padding-left: 0;
}

.about-admin_items li {
  list-style: none;
  
}

.about-admin_items li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.about-admin_items li a::before {
  content: "";
  width: 100px;
  height: 100px;
  position: relative;
  border-left: 3px solid;
  border-color:  #BDE7FF;
  padding-left: 10px;
  
}

.about-admin_items div {
  padding: 20px 0;
}

/*============== ABOUT SECRETARY ==============*/

.about-sg_content {
  background-color: #fff;
  padding: 20px;
}

.about-sg h3, span {
  text-transform: uppercase;
}

.about-sg span a {
  font-weight: 500;
}

.about-sg_img img {
  border-radius: 10px;
}

/*============== AGENCIES PARTNERS ==============*/

.agency-partners_content  .card {
  padding: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.agency-partners_content  h2 {
  text-transform: uppercase;
}

.agency-partners_content  h2::after {
  content: '';
  display: block;
  bottom: 0;
  width: 70px;
  height: 5px;
  background-color: #028CDA;
  position: relative;
  top: 8px;
}


.agency-partners_content  .card h3 {
  text-transform: uppercase;
  font-size: 2em;
}

.agency-partners_content  .card h5 {
  text-transform: uppercase;
  font-size: 2em;
}

.agency-partners_content  .card a {
  text-decoration: none;
  font-size: 14px;
}


/*============== SAME PAGES STRUCTUR STYLES ==============*/

.page-title {
  background-color: #fff;
  padding: 25px 0;
}

.title {
  color: #1c4294;
  text-align: center;
}


@media (min-width: 992px) { 
  .title {
    font-size: 54px;
  }
 }

 @media (min-width: 768px) { 
  .title {
    font-size: 34px;
  }
  }

/*============== PAGE MINISTERE ==============*/

.ministry_member {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ministry_member span {
  font-weight: 500;
}


@media only screen and (min-width: 768px) {
  .bloc-center{
      width: 710px;
      margin: 0 auto;
  }    
}
/*============== PAGE PATRIMOINE ==============*/

.card {
  
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*============== PAGE POLITIQUES PUBLIQUES ==============*/

.public-politics .card {
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.public-politics h3 {
  font-size: 20px;
}

.download-pdf a::before {
  content: "";
  width: 100px;
  height: 100px;
  position: relative;
  border-left: 3px solid;
  border-color:  #BDE7FF;
  padding-left: 10px;
}

/*============== PAGE PROJET==============*/

.project .card-body {
  padding: 0;
}

.project .card {
  padding: 20px;
}

.project .btn.btn-download {
  background-color: #1c4294;
  color: #fff;
}

/*============== PAGES ON PROJETS ==============*/

.controls-btn {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.controls-btn a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .first-project_text{
      width: 710px;
      margin: 0 auto;
  }    
}

.first-project {
  background-color: #fff;
}

.first-project img {
 
  height: auto;
}

.first-project p {
  margin: 0;
}

.first-project_description, .first-project_infos {
  padding: 10px;
}

.min-member {
  background-color: #fff;
}

.page-title {
  padding-top: 85px;
  padding-bottom: 30px;
}

@media (max-width: 576px) { 
  .page-title {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  
}

.page-title .title {
  text-transform: uppercase;
}

/*============== RESULTAT DE RECHERCHE ==============*/

.search-content_result p span {
  color: #028CDA;
  font-size: 14px;
}

.pagination {
  justify-content: center;
  
}

.page-item.active .page-link {
  background-color: #1c4294 !important;
  border-color: #1c4294 !important;
  color: #fff !important;
  
}

.page-link {
  color: #1c4294 !important;
}


/*============== NEWS==============*/

.news {
  font-size: 14px;
}
.news h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.news p {
  margin-bottom: 0;
}

.news p span {
  color: #028CDA;
  font-size: 14px !important;
  text-transform: lowercase;
}

/*============== ARTICLE ==============*/

.articles-content span {
  font-size: 14px;
letter-spacing: .04em;
line-height: 125%;
text-transform: uppercase;
font-weight: 400;
}
.articles-content_date span {
color: #028CDA;

}
.recent-articles h3 {
  font-weight: 500;
  font-size: 20px;
}

.articles-content .social-media ul {
  padding-left: 5px;
}

.articles-content .social-media a {
  margin-right: 10px;
  font-size: 25px;
}

/*============== FOOTER ==============*/

.flag-bar {
 position: relative;
 top: 53px;
}

.flag-bar .flag-bar_blue {
  background-color: #0095c9;
  width: 33.333333%;
  height: 10px;
}

.flag-bar .flag-bar_yellow {
  background-color: #fff24b;
  width: 33.333333%;
  height: 10px;
}

.flag-bar .flag-bar_red {
  background-color: #db3832;
  width: 33.333333%;
  height: 10px;
}

footer {
  background: #1c4294;
  padding: 60px 0;
  
}

footer a, span {
  font-size: 14px;
}

footer  .adress-min {
  color: #fff;
}

footer li {
  list-style: none;
  margin-bottom: 15px;
}

footer h5 {
  text-transform: capitalize;
  color: #fff;
  font-size: 17px !important;
}

.networks-icons a {
  /*margin-left: 20px;*/
  color: blue;
  font-size: 25px;
  background-color: #fff;
  border-radius: 100%;
  padding: 5px 15px;
}

.networks-icons span {
  
  text-transform: capitalize;
}

footer  .quick-links {
  border-left: rgba(255,255,255,.3) 2px solid;
  padding-left: 40px;
}

footer  .quick-links ul {
  padding: 0;
}

.quick-links a {
  text-decoration: none;
  color: #fff;

  
}

footer .useful-links ul{
  padding: 0;
}

footer .useful-links a {
  text-decoration: none;
  color: #fff;
  
}

footer input {
  padding: 10px 20px !important;
  border-radius: 30px !important;
}
footer button{
  padding: 10px 20px !important;
  width: 100% !important;
  border-radius: 30px !important;
}

@media (max-width: 991px) { 
  
  footer  .quick-links {
   
    padding-left: 40px;
  }
  
}


@media (max-width: 767px) { 
  footer {
    text-align: center;
  }
  footer  .quick-links {
    border: none;
    padding-left: 0;
  }
}