/*@font-face {
  font-family: "CooperHewitt-Book";
  src: url("/assets/font/cooper-hewitt/CooperHewitt-Book.woff") format("woff");
 }

 Police de font personnalisée
 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #f4f4f4;
  
}

* {
  box-sizing: border-box;
}
.navbar{
  background: #fff;
  /*position: fixed;
  right: 0;
  left: 0;
  top: 0;*/
}
.navbar .navbar-brand img {
  width: 100%;
  height: 60px;
}

.nav-link {
  color: rgba(0,0,0,.9);
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 14px;
  border-bottom: 1px solid rgba(10,36,88,.25);
  /*font-family: "CooperHewitt-Book", Sans-serif;*/
}

.nav-link:hover {
  color: #1c4294;
  border-bottom-color: #1c4294;
  border-bottom-width: 2px;
}

.activeLink {
  color: #1c4294;
  border-bottom-color: #1c4294;
  border-bottom-width: 2px;
}

.link {
  text-decoration: none;
  color: #028CDA;
}

.link:hover {
  text-decoration: underline;
  color: #028CDA;
}

/*============================== SIDEBAR ============================*/
.sidebar-button {
  display: none;
}


@media (max-width: 992px) { 
  .navbar-toggler{
  
  }

  .sidebar-button {
    display: block;
    right: 0;
   
  }

  
 }

/*==========================================================*/



.sidebar-button i{
  font-size: 25px;
  color: #000;
 }

.home {
  height: 100vh;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)),
  url("/assets/img/inga.jpg");
  background-position: center;
  background-size: cover;

} 

.home .ministry {
  width: 100%;
}

.home .ministry h2{
  font-size: 3.5rem;
}

.home .minister-img img {
  width: 100%;
  
}

.publications {
  position: absolute;
  bottom: -180px;
  background: #fff;
  box-shadow: 0 5px 8px -3px rgba(0,0,0,.15);
  padding: 30px 0px 30px 90px;
  width: 85%;
}

@media (max-width: 576px) { 
  .publications {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 95%;
    padding: 30px 0px 30px 0px;
    margin: 0 12px;
    margin-top: -85px !important;
  }
  
  .home .ministry h2 {
    font-size: 3rem;
  }
  
 }

 @media (max-width: 768px) { 
  .publications {
    position: static;
    bottom: 0;
  }
 } 

 @media (max-width: 787px) { 
  .publications {
    position: static;
    bottom: 0;
  }
 } 

 @media (max-width: 792px) { 
  .publications {
    position: static;
    bottom: 0;
  }
 } 

 @media (max-width: 972px) { 
  .publications {
    position: static;
    bottom: 0;
  }
 }

 .pub-date{
  font-size : 10px;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 2.70px;
  font-weight: 600;
}

.publications .descri-comment {
  /*border-right: 1px solid rgba(151,151,151,.2);*/
}

@media (max-width: 576px) { 
  .publications .descri-comment {
    border:none;
  }

  
 }

.publications p a {
  text-decoration: none;
  color: #028CDA;
  color: 12px;
}

.publications p a:hover {
  text-decoration: underline;
}

.publications .description  .descri-img img {
  border-radius: 3px;
  
}


.actualités {
  padding: 120px 0;
}

.actu-title {
  
  font-weight: 700;
  
}

.actualités h2::after {
  content: '';
  display: block;
  bottom: 0;
  width: 70px;
  height: 5px;
  background-color: #028CDA;
  position: relative;
  top: 8px;
  
}

.actualités h2 {
  text-transform: uppercase;
}

.actualités h3 a {
  text-decoration: none;
  color: #028CDA;
}

.actualités h3 a:hover {
  text-decoration: underline;
}

.actualités .pub0 {
  background-color: #fff;
  padding: 37px 20px;
}

.actualités .pub {
  background-color: #fff;
  padding: 50px 20px;
}

.actualités p a{
  text-decoration: none;
  color:#028CDA;
}

.actualités p a:hover {
  text-decoration: underline;
}

.actualités span {
  font-size: 12px;
}
.about-admin {
  background-color: #fff;
  padding: 20px;

}



@media only screen and (max-width: 576px) {
 .about-admin .row.secretary {
    flex-direction: column-reverse;
    
  } 

  .actualités .pub {
    padding: 10px 20px;
  }
  
}



.about-admin img {
  border-radius: 10px;
  
}

.about-admin .about-descri span {
  text-transform: uppercase;
}

.about-admin .about-descri span a {
  color: #028CDA;
  text-decoration: none;
}

.about-admin .about-descri span a:hover {
  text-decoration: underline;
}

.about-admin .about-descri h3 {
  text-transform: uppercase;
}

.about-admin .about-descri ul {
  padding-left: 0;
}

.about-admin .about-descri li {
  list-style: none;
  
}

.about-admin .about-descri li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  
  
}

.about-admin .about-descri li a::before {
  content: "";
  width: 100px;
  height: 100px;
  position: relative;
  border-left: 3px solid;
  border-color:  #BDE7FF;
  padding-left: 10px;
  
}

.about-admin .about-descri div {
  padding: 20px 0;
}

.agences .card {
  padding: 20px;
  border: none;
} 



.agences .card h3 {
  text-transform: uppercase;
  font-size: 2em;
}

.agences .card h5 {
  text-transform: uppercase;
  font-size: 2em;
}

.agences .card a {
  text-decoration: none;
}

footer {
  background: #1c4294;
  padding: 60px 0;
}

footer  .adress-min {
  color: #fff;
}

footer li {
  list-style: none;
}

footer h5 {
  text-transform: capitalize;
  color: #fff;
}

.networks-icons a {
  margin-left: 20px;
  color: blue;
  font-size: 25px;
  background-color: #fff;
  border-radius: 100%;
  padding: 5px 15px;
}

/*footer  .quick-links {
  border-left: 2px solid hsla(0,0%,100%,.3);
  padding-left: 40px;
}*/

footer  .quick-links ul {
  padding: 0;
}

footer  .quick-links li {
  margin-bottom: 15px;
}


.quick-links a {
  text-decoration: none;
  color: #fff;

  
}

footer .useful-links ul{
  padding: 0;
}

footer .useful-links a {
  text-decoration: none;
  color: #fff;
  
}

footer input {
  padding: 10px 20px !important;
  border-radius: 30px !important;
}
footer button {
  padding: 10px 20px !important;
  width: 100% !important;
  border-radius: 30px !important;

}

.title {
  color: #1c4294;
  text-align: center;
}

/*===================== SAME STRCUTURE PAGES STYLE ===================== */

.page-title {
  background-color: #fff;
  padding: 25px 0;
}

@media (min-width: 992px) { 
  .title {
    font-size: 54px;
  }
 }

 @media (min-width: 768px) { 
  .title {
    font-size: 34px;
  }
  }

/*===================== PAGE MINISTERE ===================== */

.min-member {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media only screen and (min-width: 768px) {
  .min-text{
      width: 710px;
      margin: 0 auto;
  }    
}

/*===================== PAGE POLITIQUES PUBLIQUES===================== */

.download-pdf a::before {
  content: "";
  width: 100px;
  height: 100px;
  position: relative;
  border-left: 3px solid;
  border-color:  #BDE7FF;
  padding-left: 10px;
}

.poliPublique .card {
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/*===================== SOUS PAGE DANS POLITIQUES PUBLIQUES===================== */

/*===================== PAGE PROJETS===================== */

.project {
  background-color: #fff;
}

.project img {
  border-radius: 3px;
  height: auto;
} 

.project-descri , .project-ref {
  padding-top: 25px;
  padding-left: 10px;
  

}

.project-ref {
  padding-bottom: 10px;
}

/*===================== SOUS PAGE DANS PROJETS===================== */

.controls-btn {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

.controls-btn a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .projet1-text{
      width: 710px;
      margin: 0 auto;
  }    
}

.project1 {
  background-color: #fff;
}

.project1 img {
 
  height: auto;
}

.project1 p {
  margin: 0;
}

.projet1-descri, .projet1-ref {
  padding: 10px;
}

.poliPublique h3 {
  font-size: 20px;
}

.min-member {
  background-color: #fff;
}

.page-title .title {
  text-transform: uppercase;
  
}

@media only screen and (max-width: 768px) {
  .publications {
    margin: 0 auto;
    
    padding: 30px 0px 30px 0px;
  } 
}

/*=====================RESULTAT RECHERCHE===================== */
.pagination {
  margin-top: 10px;
}
.pagination a {
  margin-left: 15px;
  color: #000;
  text-decoration: none;
}

.pagination a:hover{
  text-decoration: none;
}

.pagination a:first-child{
  color: #028CDA;
}


/*=====================NEWS===================== */
.news {
  font-size: 14px;
}
.news h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.news p {
  margin-bottom: 0;
}

/*===================== ARTICLES ===================== */

.social-links a {
  margin-right: 10px;
  font-size: 25px;
}

