@import url("/css/main.css");

body {
    background-color: #ffffff !important;
    padding: 0;
    margin: 0;
}

.profil {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
    border-radius: 10px;
    padding: 10px;
}

.profil-text {
    padding: 20px 5px;
}

.profil-descri {
    color:#000000;
}

.profil-descri p {
    font-size: 16px;
}

.profil-descri .text-letrine::first-letter {
  font-weight: 500;
    font-size: 96px;
    color: #1c4294;
}

.profil-descri p {
    margin: 0;
}

@media only screen and (max-width: 576px) {
  .profil-text {
    padding: 0 10px;
  }
   
   }

@media only screen and (min-width: 768px) {
    .profil-descri {
        width: 710px;
        margin: 0 auto;
    }    
}