@import url("/css/main.css");

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

* {
    box-sizing: border-box;
}


.page-title {
    background-color: #f0f1f3;
    padding: 50px 0;
}

p {
    margin: 0;
}


@media only screen and (min-width: 768px) {
    .content {
        width: 710px;
        margin: 0 auto;
    }    
}